<div class="fixed z-10 flex flex-row justify-around items-center w-full h-20 bg-stone-50 caret-transparent">
    <div class="flex flex-row justify-center items-center gap-2 h-10">
        <a routerLink="/" class="w-10 h-10">
            <app-box class="w-full h-full">
                <svg class="h-7 w-7 sm:h-9 sm:w-9 drop-shadow-lg text-white  transition-all duration-500">
                    <use href="assets/icons/academy.svg"></use>
                </svg>
            </app-box>
        </a>
        <h1 class="font-bold font-sans text-xl sm:text-3xl transition-all duration-500">Academy</h1>
    </div>
    <div class="hidden lg:flex flex-row gap-7 text-[16px] font-extralight">
        <a [routerLink]="['/']" fragment="home">Home</a>
        <a [routerLink]="['/']" fragment="about">About us</a>
        <a [routerLink]="['/']" fragment="contact">Contact</a>
    </div>
    <div class="flex gap-4 justify-center items-center">

        <div class="flex flex-row sm:gap-4">
            @if (currentRoute === '/register') {
            <a routerLink="/login" class="h-7 w-24 sm:h-9 sm:w-32">
                <app-solidbutton>
                    <span class="text-white text-sm sm:text-lg font-medium sm:font-normal">Login</span>
                </app-solidbutton>
            </a>
            }
            @else if (currentRoute === '/') {
            <a routerLink="/register" class="hidden sm:flex justify-center items-center h-7 w-24 sm:h-9 sm:w-32">
                <app-softbutton class="w-full h-full">
                    <span class="text-black text-sm sm:text-lg font-normal">Register</span>
                </app-softbutton>
            </a>
            <a routerLink="/login" class="h-7 w-24 sm:h-9 sm:w-32">
                <app-solidbutton>
                    <span class="text-white text-sm sm:text-lg font-medium sm:font-normal">Login</span>
                </app-solidbutton>
            </a>
            } @else {
            <a routerLink="/register" class="h-7 w-24 sm:h-9 sm:w-32">
                <app-softbutton>
                    <span class="text-black text-sm sm:text-lg font-normal">Register</span>
                </app-softbutton>
            </a>
            }
        </div>

        <div class="lg:hidden">
            <app-menutoggle></app-menutoggle>
        </div>
        <hr class="via-stone-400 w-full h-[1px] absolute top-20 right-0">
    </div>
</div>