<div
    class="flex flex-col justify-between items-start bg-linear bg-gradient-to-br from-cyan-500 to-emerald-400 w-full h-full rounded-2xl p-8 caret-transparent">
    <div class="flex flex-col w-full justify-center gap-3">
        <h1 class="text-center text-4xl text-white font-bold">Academy</h1>
        <hr class="bg-white mt-2 w-full h-[1px]">
        <p class="font-normal font-sans text-start text-[16px] text-stone-100">NAVIGATION</p>
    </div>
    <ng-content></ng-content>
    <app-itemdash class="w-full"></app-itemdash>
</div>