<div
    class="flex flex-row p-5 sm:p-6 lg:p-8 h-screen w-full justify-center items-center gap-5 bg-gray-200 caret-transparent">
    @if (sidebarService.isOpen()) {
    <div class="hidden md:flex sm:w-[35%] sm:h-full md:w-[27%] lg:w-[20%] transition-all duration-500">
        <app-sidebar class="w-full"></app-sidebar>
    </div>
    }
    <div class="flex flex-col w-full sm:w-full gap-5 h-full overflow-y-auto"
        [ngClass]="sidebarService.isOpen() ? ['md:w-[70%]','lg:w-[80%]'] : ['md:w-full', 'lg:w-full']">
        <app-dasheader></app-dasheader>
        <div class="grid grid-cols-2 gap-4 w-full h-full">
            <ng-content></ng-content>
        </div>
    </div>
</div>